@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "mont-regular";
    src: url("../public/fonts/Montserrat-Regular.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "mont-medium";
    src: url("../public/fonts/Montserrat-Medium.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "mont-semibold";
    src: url("../public/fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "mont-bold";
    src: url("../public/fonts/Montserrat-Bold.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "mont-light";
    src: url("../public/fonts/Montserrat-Light.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "mont-italic";
    src: url("../public/fonts/Montserrat-Italic.ttf") format("truetype");
    font-display: swap;
  }
}

@layer utilities {
  .border-gradient {
    border-width: 2px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #7f00ff, #e100ff);
  }
}

/* For WebKit browsers (Chrome, Safari, etc.) */
/* Customize scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Customize scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
}

/* Customize scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #e7e5e5; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners */
}

/* On hover, make scrollbar thumb darker */
::-webkit-scrollbar-thumb:hover {
  background-color: #cac6c6;
}

/* Customize scrollbar */
* {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #d4d2d2 #f1f1f1; /* Color of the thumb and track */
}

/* Customize scrollbar track */
*::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
}

/* Customize scrollbar thumb */
*::-webkit-scrollbar-thumb {
  background-color: #c9c4c4; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners */
}

/* On hover, make scrollbar thumb darker */
*::-webkit-scrollbar-thumb:hover {
  background-color: #d4d3d3;
}

body {
  font-family: "Open-sans", Arial, sans-serif;
  /* background-color: red !important; */
  height: 100vh;
  /* background-image: url("../../public/assets/images/image2.PNG"); */
}

.link-global-style {
  /* color: #fabc3f; */
  text-decoration: underline;
  margin: 0 0.5rem; /* equivalent to mx-2 in Tailwind */
}

.moveable-control {
  width: 6px !important;
  height: 17px !important;
  margin-top: -8px !important;
  margin-left: -3px !important;
  border-radius: 4px !important;
  background: white !important;
  /* border: 1px solid #2b33f6 !important; */
}

/* .moveable-line {
  background: transparent !important;
} */
