.text_area {
  &[data-error="true"] {
    border: 1px solid #c8102e;
  }
}

.text_input {
  &[data-error="true"] {
    border: 1px solid #c8102e;
  }
}

.text_input_root {
  &[data-variant="primary"] {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

.input_base {
  background-color: #1f2937;
  outline: none;
  border: none;
}

.button {
  height: rem(30);

  &[data-variant="primary"] {
    /* background: #fabc3f; */
  }
}

.select_input {
  background: red !important;
  height: 200px;
}

.select_input_label {
  background-color: orange !important;
}
