.text_area {
  &[data-error="true"] {
    border: 1px solid #c8102e;
  }
}

.text_input {
  &[data-error="true"] {
    border: 1px solid #c8102e;
  }
}

.text_input_root {
  &[data-variant="primary"] {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

.button {
  height: rem(30);

  &[data-variant="primary"] {
    /* background: #fabc3f; */
  }
}
